 * {
 	padding:0;
 	margin: 0;
 }
.w {
	width: 1200px;
	margin:auto;
	}
.header {
	height: 82px;
	border-bottom: 2px solid #b1191a;
}
.logo {
	padding-top:15px;
}
/*注册部分开始*/
.register {
	height: 520px;
	border: 1px solid #ccc;
	margin-top: 20px;
}
.register h3 {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #ccc;
	background-color: #ececec;
	font-weight: normal;
	font-size: 18px;
}
.register h3 em {
	float: right;
	font-size: 14px;
}
.register a {
	color: #c81623;
}
.reg_form {
	width: 600px;
	height: 400px;
	/*background-color: pink;*/
	margin: 40px auto;
}
.reg_form li {
	margin-bottom: 10px;
}
.reg_form label {
	display: inline-block;
   width: 100px;
   height: 36px;
   line-height: 36px;
   text-align: right;
}
.inp {
	width: 238px;
	height: 34px;
	border: 1px solid #ccc;
}
.error {
	color: #c81623;
	margin-left: 10px;
}
.error_icon,
.success_icon  {
	display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.png) no-repeat;
    vertical-align: middle;/*实现文字和图片垂直居中显示*/
    margin-top:-2px;
}
.success{
	color: #40b83f;
    margin-left: 10px;
}

.success_icon {
	background: url(../img/success.png) no-repeat;
}
.safe {
	padding-left:187px;
	color: #b2b2b2;
}
.safe  em {
	 padding:  0 12px;
	 color: #fff;
}
.ruo {
	background-color: #de1111;
	
}
.zhong {
	background-color: #40b83f;
}
.qiang {
	background-color: #f79100;
}
.agree {
	padding-left: 100px;
	margin-top: 20px;
}
.agree input {
	vertical-align: middle;
	margin-right: 5px;
}
.agree a {
	color: #1ba1e6;
}
.over {
	width: 200px;
	height: 34px;	
	margin:10px 0 0 120px;
	background-color: #c81623;
	border: none;
	color: #fff;
	font-size: 14px;
}
.footer {
	height: 120px;
	text-align: center;
}
.links {
	margin-top: 20px;
	height: 30px;
}
.copyright {
	margin-right: 20px;
}